<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- 定义数据源Bean -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- 数据库驱动 -->
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<!-- 数据库连接URL -->
		<property name="url">
			<value>jdbc:mysql://localhost:3306/j2ee?serverTimezone=UTC</value>
		</property>
		<!-- 数据库用户名-->
		<property name="username">
			<value>root</value>
		</property>
		<!-- 数据库密码 -->
		<property name="password">
			<value>123456</value>
		</property>
	</bean>
	
	<!-- 定义SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 指定数据源 -->
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- 指定数据库方言 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
		<!-- 指定映射文件 -->
		<property name="mappingResources">
			<list>
				<value>po/User.hbm.xml</value>
				<value>po/Book.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 定义hibernateTemplate -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>

	<!-- 配置DAO组件 -->
	<bean id="userDao" class="dao.UserDaoImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate"/>
		</property>
	</bean>

	<bean id="bookDao" class="dao.BookDaoImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate"/>
		</property>
	</bean>
	<!-- 配置业务逻辑组件 -->
	<bean id="userService" class="service.UserServiceImpl">
		<!-- 为业务逻辑组件注入DAO组件 -->
		<property name="userDao" ref="userDao"/>
	</bean>
	
	<!-- 创建ShowAllActon实例 -->
	<bean id="showAllAction" class="action.ShowAllAction">
		<property name="us" ref="userService"/>
		<property name="loginState" ref="loginState"/>
	</bean>

	<!--	创建userLoginAction属性	-->
	<bean id="userLoginAction" class="action.UserLoginAction" scope="prototype">
		<property name="us" ref="userService"/>
	</bean>

	<!-- 创建AddAction实例 -->
	<bean id="addAction" class="action.AddAction" scope="prototype">
		<property name="us" ref="userService"/>
	</bean>
	
	<!-- 创建DeleteAction实例 -->
	<bean id="deleteAction" class="action.DeleteAction">
		<property name="us" ref="userService"/>
	</bean>
	
	<!-- 创建UpdateAction实例 -->
	<bean id="updateAction" class="action.UpdateAction" scope="prototype">
		<property name="us" ref="userService"/>
	</bean>

	<!--	创建AdminAction实例 -->
	<bean id="adminAction" class="action.AdminAction" scope="prototype">
		<property name="adminCheck" ref="adminCheck"/>
	</bean>

	<!--	创建一个adminCheck实例并设置管理员密码	-->
	<bean id="adminCheck" class="service.AdminCheck">
		<property name="name" value="admin"/>
		<property name="password" value="123456"/>
	</bean>

	<!--	创建loginState类实例		-->
	<bean id="loginState" class="service.LoginState"></bean>

	<!--	创建searchbookAction实例		-->
	<bean id="searchBookAction" class="action.searchBookAction">
		<property name="bookSearchFilter" ref="booksearchFilter"/>
		<property name="loginState" ref="loginState"/>
	</bean>

	<!--	booksearchFilter注入以及实例管理		-->
	<bean id="booksearchFilter" class="service.BookSearchFilter">
		<property name="bookDao" ref="bookDao"/>
	</bean>


</beans>